name: konstruado_de_eldonaĵo
# Triggera Maniero.
on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

jobs:
  release:
    # Ĉar necesas krei eldonaĵon, necesas agordi skribpermeson.
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: 'windows-latest'
            args: ''

    runs-on: ${{ matrix.platform }}
    steps:
      - name: Elpaki Deponejon
        uses: actions/checkout@v4

      - name: Instali Rust-stabilan
        uses: dtolnay/rust-toolchain@stable

      - name: Agordi Node
        uses: actions/setup-node@v4
        with:
          node-version: "lts/*"

      - name: Agordi Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Instali Antaŭpartajn Dependaĵojn
        run: bun install

        # Uzi Tauri-actions
      - name: Konstrui la Aplikaĵon
        id: build
        uses: tauri-apps/tauri-action@v0
        env:
          GITHUB_TOKEN: ${{ secrets.TAURI_TOKEN }}
          # Privata Ŝlosilo
          TAURI_SIGNING_PRIVATE_KEY: ${{ secrets.TAURI_PRIVATE_KEY}}
          # Pasfrazo por la Privata Ŝlosilo
          TAURI_SIGNING_PRIVATE_KEY_PASSWORD: ${{ secrets.TAURI_KEY_PASSWORD }}
        with:
          tagName: eldono-v__VERSION__
          releaseName: "Eldonaĵo v__VERSION__"
        #   releaseBodyFile: .github\workflows\markdown\eldona.md
          releaseDraft: false
          prerelease: false
          args: ${{ matrix.args }}
